---
layout: page
title: Projects
group: navigation
breadcrumbs: [/]
---
<style>
.project {
  margin-top: 20px;           /* spacing between adjacent projects */
  position: relative;         /* enable absolute positioning for children */
  min-height: 75px;           /* no shorter than the contained image */
}
.project img {
  position: absolute;         /* position at (0,0) */
  width: 75px; height: 75px;  /* shrink image from full size */
}
.project > div {
  margin-left: 90px;          /* give 15px space on left (75+15=90) */
}
.project h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.project {
  font-family: Verdana, sans-serif;
  font-size: 13px;
}
</style>

<div class="row">
  <div class="span9">
    <h1>{{ page.title }}</h1>
    
    <div class="x-projects">
      {% for cur_page in site.pages %}
        {% if cur_page.layout == "project" %}
          {% assign project_title = cur_page.title %}
          {% assign project_url = cur_page.url | replace: '/index.html', '/' %}
          {% assign project_summary = cur_page.summary %}
          {% assign project_is_redirect = cur_page.redirect_to_url %}
          
          <div class="project">
            <a href="{{ project_url }}"><img src="{{ project_url }}logo-128.png" /></a>
            <div>
              <h2><a href="{{ project_url }}"{% if project_is_redirect %} class="external"{% endif %}>{{ project_title }}</a></h2>
              <p>
                {{ project_summary }}
              </p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
  <div class="span3 block-bar">
    {% include blocks/projects %}
  </div>
</div>
