---
layout: page
title: Projects
group: navigation
breadcrumbs: [/]

style: |
  .project .date { float: right; color: gray; }

---
<div class="row">
  <div class="col-md-9">
    <h1>{{ page.title }}</h1>
    
    <div class="x-projects" style="margin-bottom: 1.25em">
      {% assign project_pages = site.pages | projects_by_date %}
      
      <h2>Featured</h2>
      {% for cur_page in project_pages %}
        {% if cur_page.layout == "project" and cur_page.featured == true %}
          {% include project_row cur_page=cur_page %}
        {% endif %}
      {% endfor %}
      
      <h2>Other Projects</h2>
      {% for cur_page in project_pages %}
        {% if cur_page.layout == "project" and cur_page.featured != true %}
          {% include project_row cur_page=cur_page %}
        {% endif %}
      {% endfor %}
    </div>
    
    {% include blocks/projects_more %}
  </div>
  
  <div class="col-md-3 block-bar">
    {% include blocks/projects %}
  </div>
</div>
