---
layout: page
title: Articles (By Topic)
breadcrumbs: [/, /articles/]

include_jquery: true
include_jquery_hashchange: true

style: |
  h2 sup {
    /* Display as subtle */
    color: #999999;
    font-weight: normal;
  }

---
<div class="row">
  <div class="col-md-9">
    <h1>
      {{ page.title }}
      <a class="subscribe" href="{{ site.production_url | replace: 'http://', 'feed://'}}/atom.xml">
        <img src="/assets/feed-icon-20x20.png" width="20" height="20" alt="Subscribe" title="Subscribe"/>
      </a>
    </h1>
    
    {% assign sorted_tags = site.tags | tags_names_by_popularity %}
    {% for tag_name in sorted_tags %}
      {% assign tag_posts = site.tags[tag_name] %}
      <h2 id="{{ tag_name }}">{{ tag_name }} <sup>{{ tag_posts.size }}</sup></h2>
      {% assign posts = tag_posts %}
      {% include post_list %}
    {% endfor %}
  </div>
  
  <div class="col-md-3 block-bar">
    {% include blocks/article_topics %}
  </div>
</div>

<script>
  $(window).hashchange(function() {
    // Highlight topic corresponding to current anchor
    if (location.hash) {
      var topic = location.hash.substring(1, location.hash.length);
      
      $('h2').removeClass('active');
      $('.tag_box li').removeClass('active');
      
      $('#' + topic).addClass('active');
      $('#' + topic + "-topic").addClass('active');
    }
  });
  $(window).hashchange();
</script>
