---
---
<!DOCTYPE html>{% include JB/setup %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title>{{ page.title }}{% if page.subtitle %} | {{ page.subtitle }}{% endif %} | {{ site.title }}</title>
  {% comment %}[Displayed as snippet for Google search results]{% endcomment %}
  {% if page.description %}
    {% comment %}[Allow pages to specify explicit SEO description]{% endcomment %}
    <meta name="description" content="{{ page.description }}">
  {% elsif page.summary %}
    {% comment %}[Use project summary for SEO description]{% endcomment %}
    <meta name="description" content="{{ page.summary }}">
  {% endif %}
    <meta name="author" content="{{ site.author.name }}">
  {% if page.redirect_to_url %}
    <meta http-equiv="refresh" content="0;URL='{{ page.redirect_to_url }}'">
  {% endif %}
    
    <!-- Feeds -->
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/atom.xml" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml" />
    
  {% if site.develop == false %}
    {% include analytics %}
  {% endif %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/style-print.css" rel="stylesheet" type="text/css" media="print">
    
    {% comment %}
      [Useful for styling .md files, whose style tags are stripped.]
      [Also useful in general since style tags are only allowed in the head
       element for standards-compliant HTML.]
    {% endcomment %}
    {% if page.style0 %}
      <style>
        {{ page.style0 }}
      </style>
    {% endif %}
    {% if page.style %}
      <style>
        {{ page.style }}
      </style>
    {% endif %}

    <!-- Le fav and touch icons -->
    <!-- NOTE: Feed readers only understand favicons at the root of the site. -->
    <link rel="shortcut icon" href="/favicon.ico">
  <!-- Update these with your own images
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
    
    <!-- Le scripts -->
  {% if page.include_jquery or page.linkable_headings %}
    <script src="{{ ASSET_PATH }}/js/jquery-1.8.3.min.js"></script>
  {% endif %}
  {% if page.include_jquery_hashchange or page.linkable_headings %}
    <script src="{{ ASSET_PATH }}/js/jquery.ba-hashchange.min.js"></script>
  {% endif %}
  {% if page.include_bootstrap_js %}
    <script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>
  {% endif %}
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% for node in site.pages %}
              {% if node.group == 'navigation' %}
                <li><a href="{{ BASE_PATH }}{{ node.url | replace: '/index.html', '/' }}">{{ node.title }}</a></li>
              {% endif %}
            {% endfor %}
            {% if site.develop %}
              <li style="background-color: red; color: white; margin-top: 13px; padding-left: .2em; padding-right: .2em; font-family: Verdana, sans-serif;">
                <span class="private" style="background-position: center right;">
                  DEVELOPMENT MODE
                </span>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content-container">
        <div class="breadcrumb-bar">
          <ul class="breadcrumb">
            {% capture divider %} <span class="divider">&gt;</span>{% endcapture %}
            
            {% assign has_breadcrumbs = false %}
            {% for bc_url in page.breadcrumbs %}
              {% assign bc_title = '&#x26a0;' %}
              {% for node in site.pages %}
                {% capture node_url %}{{ node.url | replace: '/index.html', '/' }}{% endcapture %}
                {% if bc_url == node_url %}
                  {% capture bc_title %}{{ node.title }}{% endcapture %}
                {% endif %}
              {% endfor %}
              
              <li><a href="{{ bc_url }}">{{ bc_title }}</a>{{ divider }}</li>
              {% assign has_breadcrumbs = true %}
            {% endfor %}
            
            {% if has_breadcrumbs == false %}
              <li>&nbsp;</li>
            {% endif %}
          </ul>
        </div>
        
        <!-- Encourage IE 6 users to upgrade their browser. -->
        <!--[if lt IE 7]>
          <div style="clear: both; height: 59px; padding: 0 0 0 50px; position: relative;">
            <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
              <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg"
                border="0" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
            </a>
          </div>
        <![endif]-->
        
        {% if page.redirect_to_url %}
          {% if page.redirect_has_content %}
            {{ content }}
          {% else %}
            {% include redirecting %}
          {% endif %}
        {% else %}
          {{ content }}
        {% endif %}
      </div>

      <footer>
        <p>&copy; {{ site.time | date: '%Y'}} <a href="/about/">{{ site.author.name }}</a>
        {% if site.develop %}
         | <a href="javascript:void(window.location='x-validator-sac://open?uri='+escape(window.location))"><span class="private">Validate HTML</span></a>
         | <a href="{{ site.production_url }}{{ page.url | replace: '/index.html', '/' }}"><span class="private">View in Production</span></a>
         | <a href="/apps/ga-url-builder/"><span class="private">URL Builder</span></a>
        <br/>
           <a href="https://github.com/davidfstr/dafoster.net/issues"><span class="private">View Issues</span></a>
         | <span class="private">Validate Production Feed (<a href="http://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fdafoster.net%2Fatom.xml">Atom</a>, <a href="http://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fdafoster.net%2Frss.xml">RSS</a>)</span>
        {% endif %}
        </p>
      </footer>

    </div>
    
  {% if page.linkable_headings %}
    <script>
      $(window).hashchange(function() {
        // Highlight heading corresponding to current anchor (if specified)
        if (location.hash) {
          $('h2').removeClass('active');
          $(location.hash).addClass('active');
        }
      });
      $(window).hashchange();
    </script>
  {% endif %}
  
  {% if page.script %}
    <script>
      {{ page.script }}
    </script>
  {% endif %}
    
  {% if site.develop == false %}
    {% include analytics_footer %}
  {% endif %}
  </body>
</html>
