---
layout: default
breadcrumbs: [/, /articles/]
full_width: false  # no longer used in post layout
---
<div class="row">
  <div class="col-md-12 content post">
    <h1>{{ page.title }}</h1>
    <div class="post-metadata">
      {{ page.date | usa_date_to_string }} &ndash; Filed under: 
      <span class="tag_box tag_box--inline">
        {% assign tags_list = page.tags %}
        {% for tag in tags_list %}
          {% include blocks/tag %}
        {% endfor %}
      </span>
      {% if page.metadata_extra %}
        &ndash; {{ page.metadata_extra }}
      {% endif %}
    </div>
    
    {{ content }}
  </div>
  
  <div class="col-md-12 block-bar">
    {% include blocks/subscribe %}
  </div>
  
  <div class="col-md-12">
    <div style="text-align: center;">
      <ul class="pagination">
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Index</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    
    {% include JB/comments %}
  </div>
</div>
