---
layout: default
breadcrumbs: [/, /projects/]
redirect_has_content: true

style0: |
  .logo {
    float: right;
    background-color: #fafafa;
    border: 1px solid #dfdfdf;
    padding: 20px;
    margin-left: 10px; margin-bottom: 10px;
  }
  @media (max-width: 576px) {
    .logo { width: 125px; }
  }

---
<div class="row">
  <div class="{% if page.full_width != true %}col-md-9{% else %}col-md-12{% endif %} content">
    <img class="logo" src="{% if page.logo_filename %}{{ page.logo_filename }}{% else %}logo-128.png{% endif %}" alt="Logo for {{ page.title }}" width="128" height="128" />
    
    <h1>{{ page.title }}{% if page.subtitle %} <small>&ndash; {{ page.subtitle }}</small>{% endif %}</h1>
    
    {% if page.redirect_to_url %}
      {% include redirecting %}
    {% else %}
      {{ content }}
    {% endif %}
  </div>
  
  {% if page.redirect_to_url %}
  {% else %}
    {% if page.full_width != true %}
    <div class="col-md-3 block-bar">
      {% include blocks/projects %}
    </div>
    {% endif %}
  {% endif %}
</div>
