---
layout: page
title: Articles
group: navigation
breadcrumbs: [/]
---
<div class="row">
  <div class="col-md-9">
    <h1>
      {{ page.title }}
      <a class="subscribe" href="{{ site.production_url | replace: 'http://', 'feed://'}}/atom.xml">
        <img src="/assets/feed-icon-20x20.png" width="20" height="20" alt="Subscribe" title="Subscribe"/>
      </a>
    </h1>
    
    <ul class="x-posts">
      {% for post in site.posts %}
        <li>
          <span>{{ post.date | usa_date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
          {% if post.date_updated %}
            <span title="Updated {{ post.date_updated | usa_date_to_string }}" style="cursor: help;">✚</span>
          {% endif %}
          {% if post.featured %}
            {% include featured_article_star %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="col-md-3 block-bar">
    {% include blocks/article_topics %}
  </div>
</div>
