---
layout: page
title: Articles
group: navigation
breadcrumbs: [/]
---
<div class="row">
  <div class="col-md-9">
    <h1>
      {{ page.title }}
      <a class="subscribe" href="{{ site.production_url | replace: 'http://', 'feed://'}}/atom.xml">
        <img src="/assets/feed-icon-20x20.png" width="20" height="20" alt="Subscribe" title="Subscribe"/>
      </a>
    </h1>
    
    {% assign posts = site.posts %}
    {% include post_list %}
  </div>
  
  <div class="col-md-3 block-bar">
    {% include blocks/article_topics %}
  </div>
</div>
